{%extends 'galleries/base.html'%}
{%load columns%}
{%load bootstrap5%}
{%load static%}


{% block content %}
{{block.super}}



<body style="background-image:url('{%static 'photos/space-11099_1280.jpg' %}');background-position:cover;background-repeat:no-repeat;background-size:cover;">

</body>


<div class="container">
    <div class="row">
    {%for col in galleries|columns:2%}

        <div class="col-lg-6">
            {%for image in col%}

              <div class="card" style="max-width:100%;">
                <h5 class="card-title">{{image.title}} <small style="font-size:x-small;float:right;padding-top:2.5%;margin-right:2.5%;">Category: {{image.category}}</small></h5>
                <div class="card-body" style="max-width:100%;">
                    <img src="{{image.pic.url}}" class="rounded card-img img-responsive responsive modal-target" alt="{{image.description}}" id="Img 1" style="height:200px;width:75%;margin-left:5%;">
                    <div id="modal" class="modal">
                        <span id="modal-close" class="modal-close">&times;</span>
                        <img id="modal-content" class="modal-content">
                        <div id="modal-caption" class="modal-caption"></div>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        {{image.published|timesince}} ago <img src="{{image.editor.profile_pic.url}}" width="10%" class="rounded">
                        {{image.editor}}
                        <i style="float: right;padding-top:1%;">
                            <a href="{% url 'image' image.id %}">
                                   Image Details
                            </a>
                        </i>
                    </small>

                </div>
            </div>


            {%empty%}
            <h2 class="text-center">
                Something great is coming up
            </h2>
            {%endfor%}


        </div>


    {%endfor%}
    </div>



</div>





{% endblock %}